* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
    height: 1244.39px;
}

#Header {
    width: 100%;
    height: 80px;
    border-top: 4px solid #387af0;
    border-bottom: 1px solid #c2c2c2;
}

#Header > #inner {
    width: 1392px;
    height: 76px;
    margin: 0 auto;
    padding: 3px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Header > #inner > #logo {
    min-width: 215px;
    display: flex;
    justify-content: space-between;

}

#Header > #inner > #logo > a {
    bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #3074f0;
    padding: 7px 0 0 10px;
}

#Header > #inner > #gnb {
    display: flex;
    margin: 9px 0 0 0;
    padding: 0px 8px 0px 80px;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

#Header > #innner > #gnb > li {
    display: flex;
    position: relative;
}

#Header > #inner > #gnb > li > a {
    font-size: 15px;
    font-weight: 700;
    color: black;
    padding: 30px 13px;
    box-sizing: border-box;
    

}


#Header > #inner > #gnb > li:hover > a::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 6px;
    background-color: #ffeba5;
    width: 30px;
    top: 50px;
    transform: translateX(-100%);
}

#Header > #inner > #gnb > li:hover > a > span {
    color: #3074f0;
}

/* -----------------------submenu1--------------------------- */
#gnb > li > .gnb_submenu1 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu1 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu1 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list1.on > .gnb_submenu1 {
    display: block;
}
/* --------------------submenu2----------------------- */
#gnb > li > .gnb_submenu2 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu2 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu2 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list2.on > .gnb_submenu2 {
    display: block;
}
/* --------------------submenu3----------------------------- */
#gnb > li > .gnb_submenu3 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu3 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu3 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list3.on > .gnb_submenu3 {
    display: block;
}
/* --------------------submenu4----------------------------- */
#gnb > li > .gnb_submenu4 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu4 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu4 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list4.on > .gnb_submenu4 {
    display: block;
}
/* --------------------submenu5----------------------------- */
#gnb > li > .gnb_submenu5 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu5 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu5 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list5.on > .gnb_submenu5 {
    display: block;
}
/* --------------------submenu6----------------------------- */
#gnb > li > .gnb_submenu6 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu6 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu6 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list6.on > .gnb_submenu6 {
    display: block;
}
/* --------------------submenu7----------------------------- */
#gnb > li > .gnb_submenu7 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu7 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu7 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list7.on > .gnb_submenu7 {
    display: block;
}
/* --------------------submenu8----------------------------- */
#gnb > li > .gnb_submenu8 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu8 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu8 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list8.on > .gnb_submenu8 {
    display: block;
}
/* --------------------submenu9----------------------------- */
#gnb > li > .gnb_submenu9 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu9 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu9 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list9.on > .gnb_submenu9 {
    display: block;
}
/* --------------------submenu10----------------------------- */
#gnb > li > .gnb_submenu10 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu10 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu10 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list10.on > .gnb_submenu10 {
    display: block;
}
/* --------------------submenu11----------------------------- */
#gnb > li > .gnb_submenu11 {
    position: absolute;
    top : 90px;
    z-index: 5;
    padding-top: 8px;
    display: none;
}

#gnb > li > .gnb_submenu11 > ul {
    min-width: 240px;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

#gnb > li > .gnb_submenu11 > ul > li > a {
    padding: 4px 25px 6px;
    display: block;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
}

#gnb > #gnb_list11.on > .gnb_submenu11 {
    display: block;
}

/* ---------------------------------------------------------- */
#Header > #inner > #menu {
    display: flex;
    align-items: center;
    margin-top: 6px;
}


#Contents > #contents {
    width: 1392px;
    height: 912px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    box-sizing: border-box;
    display: flex;
}

#contents > #active {
    width: 672px;
    height: 872px;
    display: flex;
    overflow: hidden;
    position: relative;
}

#active > #active_wrap1 {
    padding: 77px 18px 68px;
    box-sizing: border-box;
    position: relative;
    background: url(https://biz.kfcc.co.kr/resource/img/main/swiper_bg01_box.png);
}

#active > #active_wrap1 > #active_img1 {
    position: absolute;
    top: 130px;
    left: 380px
}

#active > #active_wrap1 > #active_tag > span {
    color: #ff3d01;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
}

#active > #active_wrap1 > #active_tag {
    padding: 0 0 0 28px;
    box-sizing: border-box;
}

#active > #active_wrap1 > #active_info {
    margin-top: 50px;
    padding: 0 0 0 28px;
    box-sizing: border-box;
}

#active > #active_wrap1 > #active_info > #active_title {
    color: #000000;
    font-size: 40px;
    font-weight: 300;

}

#active > #active_wrap1 > #active_info > #active_title > span {
    font-weight: 700;
    
}

#active > #active_wrap1 > #active_info > #active_text {
    margin-top: 32px;
    font-size: 15px;
    color: #555555;
}

#active > #active_wrap1 > #active_box {
    margin-top: 100px;
    display: flex;
    width: 637px;
    justify-content: space-between;
    position: relative;
}

#active > #active_wrap1 > #active_box > a > div {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    position: relative;
}

#active > #active_wrap1 > #active_box > a > div > div > span {
    color: #888888;
    margin-top: 5px;
    font-size: 15px;
}

#active > #active_wrap1 > #active_box > a > #box1 > div > .box1_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    background: #aa78dc;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 5px;
}

#active > #active_wrap1 > #active_box > a > #box1 > div > .box1_img1 {
    position: absolute;
    bottom: 28px;
    left: 25px;
}

#active > #active_wrap1 > #active_box > a > #box1 > div > .box1_img2 {
    position: absolute;
    bottom: 55px;
    left: 60px;
}

#active > #active_wrap1 > #active_box > a > #box2 > div > .box2_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    background: #f49ac0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 5px;
}

#active > #active_wrap1 > #active_box > a > #box2 > div > .box2_img1 {
    position: absolute;
    bottom: 28px;
    left: 25px;
}

#active > #active_wrap1 > #active_box > a > #box2 > div > .box2_img2 {
    position: absolute;
    bottom: 55px;
    left: 60px;
}

#active > #active_wrap1 > #active_box > a > #box3 > div > .box3_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    background: #f7c71d;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 5px;
}

#active > #active_wrap1 > #active_box > a > #box3 > div > .box3_img1 {
    position: absolute;
    bottom: 28px;
    left: 25px;
}

#active > #active_wrap1 > #active_box > a > #box3 > div > .box3_img2 {
    position: absolute;
    bottom: 60px;
    left: 63px;
}

#active > #active_wrap1 > #active_box > a > #box3 > div > .box3_img3 {
    position: absolute;
    bottom: 28px;
    left: 75px;
}


#active > #active_wrap1 > #active_box > a > div {
    width: 205px;
    height: 280px;
    border-radius: 3px;
    background: #fff;
    padding: 28px 28px 28px;
    box-sizing: border-box;
}

/* -------------------active_wrap2-------------------------------- */
#active > #active_wrap2 {
    padding: 77px 18px 68px;
    box-sizing: border-box;
    position: relative;
    background: url(https://biz.kfcc.co.kr/resource/img/main/swiper_bg02_box.png);
}

#active > #active_wrap2 > #active_img2 {
    position: absolute;
    top: 130px;
    left: 320px
}

#active > #active_wrap2 > #active_img3 {
    position: absolute;
    top: 300px;
    left: 320px
}

#active > #active_wrap2 > #active_img4 {
    position: absolute;
    top: 300px;
    left: 510px
}

#active > #active_wrap2 > #active_img5 {
    position: absolute;
    top: 300px;
    left: 410px
}

#active > #active_wrap2 > #active_tag > span {
    color: #ff3d01;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
}

#active > #active_wrap2 > #active_tag {
    padding: 0 0 0 28px;
    box-sizing: border-box;
}

#active > #active_wrap2 > #active_info {
    margin-top: 50px;
    padding: 0 0 0 28px;
    box-sizing: border-box;
    min-height: 286.99px;
}

#active > #active_wrap2 > #active_info > #active_title {
    color: #000000;
    font-size: 40px;
    font-weight: 300;

}

#active > #active_wrap2 > #active_info > #active_title > span {
    font-weight: 700;
    
}

#active > #active_wrap2 > #active_info > #active_text {
    margin-top: 32px;
    font-size: 15px;
    color: #555555;
}

#active > #active_wrap2 > #active_box {
    margin-top: 100px;
    display: flex;
    width: 637px;
    justify-content: space-between;
    position: relative;
}

#active > #active_wrap2 > #active_box > a > div {
    color: #000;
    font-size: 19px;
    font-weight: 700;
    position: relative;
}

#active > #active_wrap2 > #active_box > a > div > div > span {
    color: #888888;
    margin-top: 5px;
    font-size: 15px;
}

#active > #active_wrap2 > #active_box > a > #box1 > div > .box1_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    background: #aa78dc;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 5px;
}

#active > #active_wrap2 > #active_box > a > #box1 > div > .box1_img1 {
    position: absolute;
    bottom: 28px;
    left: 25px;
}

#active > #active_wrap2 > #active_box > a > #box1 > div > .box1_img2 {
    position: absolute;
    bottom: 55px;
    left: 60px;
}

#active > #active_wrap2 > #active_box > a > #box2 > div > .box2_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    background: #f49ac0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 5px;
}

#active > #active_wrap2 > #active_box > a > #box2 > div > .box2_img1 {
    position: absolute;
    bottom: 28px;
    left: 25px;
}

#active > #active_wrap2 > #active_box > a > #box2 > div > .box2_img2 {
    position: absolute;
    bottom: 55px;
    left: 60px;
}

#active > #active_wrap2 > #active_box > a > #box3 > div > .box3_tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    background: #f7c71d;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 5px;
}

#active > #active_wrap2 > #active_box > a > #box3 > div > .box3_img1 {
    position: absolute;
    bottom: 28px;
    left: 25px;
}

#active > #active_wrap2 > #active_box > a > #box3 > div > .box3_img2 {
    position: absolute;
    bottom: 60px;
    left: 63px;
}

#active > #active_wrap2 > #active_box > a > #box3 > div > .box3_img3 {
    position: absolute;
    bottom: 28px;
    left: 75px;
}


#active > #active_wrap2 > #active_box > a > div {
    width: 205px;
    height: 280px;
    border-radius: 3px;
    background: #fff;
    padding: 28px 28px 28px;
    box-sizing: border-box;
}
/* ----------------------- 슬라이드 기능 ------------------------- */
#active > #active_wrap1.on {
    position: absolute;
    left: 0;
    transition: all 1s;
}

#active > #active_wrap1.off {
    position: absolute;
    left: -673px;
    transition: all 1s;
}

/* -------------------- button ----------------------------- */
#active > #active_button {
    position: absolute;
}

#active > #active_button > li > .prev_button {
    position: absolute;
    top: 400px;
    left: 0;
    width: 36px;
    height: 64px;
    box-shadow: 0 5px 20px 0 rgb(0, 0, 0 / 5%);
    border-radius: 0 36px 36px 0;
    border: 1px solid white;
    background: #ffffffad url(https://biz.kfcc.co.kr/resource/img/main/ico_prev.png) no-repeat 8px center;
}

#active > #active_button > li > .next_button {
    position: absolute;
    top: 400px;
    left: 637px;
    width: 36px;
    height: 64px;
    box-shadow: 0 5px 20px 0 rgb(0, 0, 0 / 5%);
    border-radius: 36px 0 0 36px;
    border: 1px solid white;
    background: #ffffffad url(https://biz.kfcc.co.kr/resource/img/main/ico_next.png) no-repeat 18px center;
}
/* ----------------------------------------------------------------- */

#Contents > #contents > #main_contents {
    margin: 0 0 0 48px;
    display: flex;
}

#Contents > #contents > #main_contents > #menu_list {
    width: 312px;
    height: 872px;
    
}

/* ----------------------- tap_menu -------------------------- */
#main_contents > #menu_list > #tap_menu {

    box-sizing: border-box;
    border-radius: 15px;
    height: 456px;
    
}

#tap_menu > #tap_head {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
    overflow: hidden;
    border-top: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;

}

#tap_menu > #tap_head > div {
    z-index: 2;
    overflow: initial;
    margin: -1px 0 0;
    font-weight: 700;
    color: #000;
    font-size: 18px;
    height: 50px;
    width: 154.75px;
    text-align: center;
    background: #f8f8f8;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;   
    justify-content: center;
}

#tap_menu > #tap_head > #tapNav1 {
    border-right: 1px solid #c2c2c2;
    box-sizing: border-box;
    border-radius: 0 15px 0 0;
    cursor: pointer;
}

#tap_menu > #tap_head > #tapNav2 {
    border-left: 1px solid #c2c2c2;
    box-sizing: border-box;
    border-radius: 15px 0 0 0;
    cursor: pointer;
}



#tap_menu > #tap_body {
    height: 406px;
    padding: 0 0 12px;
    border: 1px solid #c2c2c2;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    position: relative;
}

#tap_body > div {
    position:absolute;
}

#tap_body > div > #Con_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

#tap_body > div > #Con_menu > li {
    position: relative;
    padding: 0 16px;
    width: 152px;
    height: 136px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#tap_body > div > #Con_menu > li > .item_link {
    width: 100%;
    display: block;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    background: transparent;
    border: 0;
}

#tap_body > div > #Con_menu > li > .item_link > span {
    display: block;
    margin-top: 20px;
}

#tap_body > #tapCon1 {
    display: none;
}

#tap_body > #tapCon2 {
    display: none;
}

#tap_body > #tapCon1.on {
    display: block;
}

#tap_body > #tapCon2.on {
    display: block;
}


/* ---------------------- banking_menu ----------------------------- */
#main_contents > #menu_list > #banking_menu {
    border: 1px solid #c2c2c2;
    box-sizing: border-box;
    border-radius: 15px;
    height: 368px;
    margin-top: 48px;
    padding: 25px 22px 30px;
}

#banking_menu > .banking_link > div {
    color: #000000;
    font-size: 24px;
}

#banking_menu > .banking_link > div > .banking_title {
    font-weight: 700;
}

#banking_menu > .banking_link > div > .banking_info {
    
    box-sizing: border-box;
    color: #808080;
    font-size: 14px;
}

#banking_menu > .banking_link > div > .banking_info > span {
    display: block;
    
}

#banking_menu > #banking_list {
    margin-top: 10px;
}

#banking_menu > #banking_list > ul {
    display: flex;
    flex-wrap: wrap;
}

#banking_menu > #banking_list > ul > li {
    margin-top: 8px;
    margin-left: 8px;
}

#banking_menu > #banking_list > ul > li > a {
    display: block;
    padding: 11px 16px;
    color: #000;
    font-size: 16px;
    font-weight: 800;
    background: #f7f7f7;
    border-radius: 3px;
    
}

#main_contents > #info_list {
    width: 312px;
    height: 872px;
    margin: 0 0 0 48px;
}

#main_contents > #info_list > #info_login {
    height: 204.39px;
}

#main_contents > #info_list > #info_login > #main_login {
    height: 168px;
    border: 1px solid #ececec;
    box-sizing: border-box;
    background: #F6F7FB;
    padding: 21px 20px 20px;
    border-radius: 15px;
}

#main_contents > #info_list > #info_login > #main_login > #title > span {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

#main_contents > #info_list > #info_login > #main_login > #login_link {
    margin-top: 20px;
    border-radius: 3px;
}

#main_contents > #info_list > #info_login > #main_login > #login_link > a {
    height: 55px;
    border-radius: 3px;
    background: #3074F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

#main_contents > #info_list > #info_login > #main_login > #login_link > a > span {
    color: #fff;
    font-size: 18px;
    margin: 0 0 0 10px;
}

#main_contents > #info_list > #info_login > #main_login > #login_help {
    margin-top: 13px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

#main_contents > #info_list > #info_login > #main_login > #login_help > span {
    font-size: 14px;
    color: #555555;
}

#main_contents > #info_list > #info_login > #celti_login {
    margin-top: 14px;
}

#main_contents > #info_list > #info_login > #celti_login > span {
    font-size: 14px;
    color: #555555;

}

#main_contents > #info_list > #info_notice {
    height: 278.52px;
    margin-top: 58px;
}

#main_contents > #info_list > #info_notice > .info_title > a {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

#main_contents > #info_list > #info_notice > #notice_list > .info {
    margin-top: 25px;
}

#main_contents > #info_list > #info_notice > #notice_list > .info > a > span {
    font-size: 16px;
    color: #000000;
}

#main_contents > #info_list > #info_notice > #notice_list > .info > a > .date {
    font-size: 14px;
    color: #555555;
    margin-top: 16px;
    display: block;
}

#main_contents > #info_list > #info_service {

    height: 122.97px;
    margin-top: 58px;
    position: relative;
}

#info_service > div > a {
    display: block;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

#info_service > #service_time > span {
    margin-top: 10px;
    display: inline-block;
    color: #808080;
    font-size: 13px;
}

#info_service > #service_number {
    margin-top: 20px;
    color: #000;
    font-size: 22px;
    font-weight: 700;
}

#info_service > #service_number > span {
    margin-top: 4px;
    color: #666666;
    font-size: 16px;
    font-weight: 600;
}

#info_service > #service_chatbot > a {
    position: absolute;
    width: 114px;
    height: 140px;
    top: -3px;
    right: -10px;
}

#Footer {
    margin-top: 70px;
    border-top: 1px solid #c2c2c2;
    box-sizing: border-box;
}

#Footer > #service_footer {
    width: 1392px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}

#service_footer > #service_box > a {
    font-weight: 700;
    color: #000;
    margin: 0 32px 0 0;
}

#service_footer > #service_number {
    display: flex;
    font-weight: 700;
    color: #000;
}

#service_footer > #service_number > #number_item1 > .kr {
    margin: 0 23px 0 0;
}

#service_footer > #service_number > #number_item2 {
    margin: 0 0 0 48px;
}

#service_footer > #service_number > #number_item2 > .ov {
    margin: 0 23px 0 0;
}

#Footer > #inner_footer {
    width: 100%;
    height: 61.39px;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
}

#Footer > #inner_footer > #inner_cont {
    margin: 0 auto;
    width: 1392px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#inner_footer > #inner_cont > #cont_nav {
    margin-top: 20px;
    padding: 0 0 15px 0;
    box-sizing: border-box;
}

#inner_footer > #inner_cont > #cont_service {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#inner_cont > #cont_service > #service_ui {
    margin: 0 20px 0 0;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}

#Footer > #copy_footer {
    width: 1392px;
    margin: 0 auto;
}

#copy_footer > #copy_box > span {
    color: #555;
    font-size: 14px;
    line-height: 1;
}
